fastapi==0.136.1
uvicorn[standard]
spacy==3.7.4
sentence-transformers==2.7.0
transformers==4.41.2
tokenizers==0.19.1
SQLAlchemy==2.0.31
psycopg2-binary==2.9.9
scikit-learn==1.5.1
numpy==1.26.4
pydantic>=2.9.0
python-multipart
python-dotenv==1.0.1
requests==2.34.0
huggingface_hub==0.23.4
safetensors==0.4.3
torch==2.3.1
